/* ===============================  Responsive ================================== */
        @media (max-width: 600px) {
            .container {
                padding: 20px;
            }

            h1 {
                font-size: 22px;
            }

            .input-section {
                grid-template-columns: 1fr;
            }

            .circle {
                width: 50px;
                height: 50px;
            }

            button {
                padding: 8px 15px;
                font-size: 12px;
            }

            #submitBtn,
            #startBtn,
            #resetBtn {
                width: 100px;
            }
        }
